In [1]:
import pandas as pd
import numpy as np
import time
import os
import random
import math
from random import randrange

os.chdir(r'c:\Users\DELL\Documents\project\OKH')
#BENAR

In [2]:
crs = pd.read_csv('toronto/car-s-91.crs', header=None, sep=' ')
stu = pd.read_csv('toronto/car-s-91.stu', header=None, sep=' ', names=np.arange(1,20,1),skip_blank_lines=False)

stu = stu.fillna(0)

#BENAR

In [3]:
for i in range(len(stu.columns)):
    sum_kolom = sum(stu[i+1])
    if sum_kolom==0:
        stu = stu.drop(columns=i+1)
#BENAR

In [4]:
matrix = pd.DataFrame(0, index=range(1,len(crs)+1), columns = range(1,len(crs)+1), dtype=int)
matrix2 = pd.DataFrame(0, index=range(1,len(crs)+1), columns = range(1,len(crs)+1), dtype=int)
#BENAR

In [5]:
start_time_matrix = time.time()
for i in range(len(stu)):
    for j in range(len(stu.columns)-1):
        for k in range(j+1,len(stu.columns)):
            
            a = int(stu.iloc[i, j])
            b = int(stu.iloc[i, k])
            if b == 0 or a == b:
                break
            matrix.iloc[a-1, b-1] = 1
            matrix.iloc[b-1, a-1] = 1
            break
        if stu.iloc[i, j] == 0:
            break
print("--- %s seconds ---" % (time.time() - start_time_matrix))
#BENAR

--- 887.8927171230316 seconds ---

In [6]:
start_time_matrix = time.time()
for i in range(len(stu)):
    for j in range(len(stu.columns)-1):
        for k in range(j+1,len(stu.columns)):
            
            a = int(stu.iloc[i, j])
            b = int(stu.iloc[i, k])
            if b == 0 or a == b:
                break
            matrix2.iloc[a-1, b-1] += 1
            matrix2.iloc[b-1, a-1] += 1
            break
        if stu.iloc[i, j] == 0:
            break
print("--- %s seconds ---" % (time.time() - start_time_matrix))
#BENAR

--- 20.985904693603516 seconds ---

In [7]:
crash=[]
temp=[]
start_time = time.time()
for i in range(0,len(matrix2)):
    for j in range(len(matrix2)):
        if matrix2.iloc[i,j]>0:
            class_crash=j+1
            temp.append(class_crash)
    crash.append(temp)
    temp=[]
print("--- %s seconds ---" % (time.time() - start_time))
#BENAR

--- 3.683877944946289 seconds ---

In [8]:
degree = []
for i in range(1,len(matrix.columns)+1):
    degree.append(sum(matrix[i]))

In [9]:
crs_degree=[]
for i in range(len(degree)):
    temp=[i+1,degree[i],crash[i]]
    crs_degree.append(temp)
#BENAR

In [10]:
col_table = pd.DataFrame(crs_degree,columns=['course', 'degree','node'])
col_table['color']=np.nan
col_table.set_index('course')
#BENAR

        degree                                               node  color
course
1           67  [3, 4, 5, 6, 7, 8, 9, 13, 14, 15, 17, 19, 20, ...    NaN
2           55  [3, 4, 5, 6, 8, 9, 10, 17, 20, 21, 22, 23, 25,...    NaN
3          102  [1, 2, 4, 6, 7, 9, 10, 14, 15, 17, 19, 20, 21,...    NaN
4           68  [1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1...    NaN
5           42  [1, 2, 4, 6, 7, 8, 9, 11, 12, 21, 50, 51, 59, ...    NaN
...        ...                                                ...    ...
678         10  [644, 649, 651, 653, 674, 675, 677, 679, 681, ...    NaN
679          6                     [653, 677, 678, 680, 681, 682]    NaN
680          3                                    [676, 679, 681]    NaN
681         10  [652, 653, 672, 674, 675, 677, 678, 679, 680, ...    NaN
682          5                          [640, 677, 678, 679, 681]    NaN

[682 rows x 3 columns]

In [11]:
matrix2

,1,2,3,4,5,6,7,8,9,10,...,673,674,675,676,677,678,679,680,681,682
1,0,0,12,16,3,3,5,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,8,14,3,4,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,12,8,0,15,0,6,1,0,5,2,...,0,0,0,0,0,0,0,0,0,0
4,16,14,15,0,2,6,1,3,1,2,...,0,0,0,0,0,0,0,0,0,0
5,3,3,0,2,0,3,4,2,3,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
678,0,0,0,0,0,0,0,0,0,0,...,0,1,3,0,10,0,12,0,5,1
679,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,21,12,0,2,3,2
680,0,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,2,0,4,0
681,0,0,0,0,0,0,0,0,0,0,...,0,2,1,0,1,5,3,4,0,4
682,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,2,0,4,0

In [12]:
sort_col_table = col_table.sort_values('degree',ascending=False)
#BENAR

In [13]:
sort_col_table

     course  degree                                               node  color
298     299     266  [1, 2, 3, 4, 6, 8, 17, 19, 20, 21, 22, 24, 26,...    NaN
519     520     245  [3, 4, 5, 9, 10, 13, 17, 20, 21, 35, 52, 57, 5...    NaN
335     336     176  [3, 4, 6, 8, 9, 17, 20, 21, 38, 40, 41, 42, 43...    NaN
333     334     175  [1, 4, 17, 19, 20, 21, 22, 23, 24, 26, 35, 38,...    NaN
416     417     163  [6, 9, 17, 20, 52, 58, 59, 72, 73, 76, 82, 90,...    NaN
..      ...     ...                                                ...    ...
15       16       1                                               [12]    NaN
32       33       0                                                 []    NaN
348     349       0                                                 []    NaN
439     440       0                                                 []    NaN
656     657       0                                                 []    NaN

[682 rows x 4 columns]

In [14]:
slot=[[]]
color=1
set_color=[]
start_time_solve = time.time()
for i in range(len(sort_col_table)):
    for j in range(len(slot)):
        if any(a in sort_col_table.iloc[i,2] for a in slot[j]):
            if j==len(slot)-1:
                slot.append([sort_col_table.iloc[i,0]])
                set_color.append(color)
                color+=1
            continue
        else:
            slot[j].append(sort_col_table.iloc[i,0])
            break
print("--- %s seconds ---" % (time.time() - start_time_solve))
#BENAR

--- 0.5157017707824707 seconds ---

In [16]:
slot

[[291,
  289,
  290,
  288,
  303,
  215,
  245,
  59,
  114,
  317,
  342,
  322,
  357,
  206,
  404,
  189,
  348,
  137,
  529,
  7,
  375,
  76,
  89,
  275,
  492,
  145,
  79,
  431,
  505,
  199,
  177,
  279,
  81,
  413,
  424,
  65,
  436,
  512,
  536,
  443,
  158,
  483,
  246,
  162,
  144,
  471,
  417,
  287,
  516,
  309,
  202,
  130,
  468,
  489,
  540,
  225,
  447,
  493,
  169,
  478,
  163,
  235,
  91,
  463,
  328,
  410,
  127,
  25,
  461,
  450,
  254,
  519],
 [204,
  382,
  87,
  360,
  60,
  335,
  294,
  37,
  214,
  387,
  352,
  70,
  441,
  243,
  198,
  139,
  374,
  208,
  138,
  453,
  111,
  523,
  64,
  113,
  504,
  75,
  181,
  438,
  280,
  514,
  228,
  250,
  394,
  491,
  457,
  533,
  187,
  82,
  480,
  462,
  407,
  445,
  74,
  20,
  469,
  69,
  538,
  497,
  232,
  171,
  416,
  496,
  327,
  253,
  518],
 [135,
  256,
  258,
  260,
  381,
  255,
  362,
  99,
  314,
  244,
  363,
  190,
  411,
  115,
  34,
  526,
  23,
  154,
  276,
  278,
  175,
  527,
  219,
  61,
  389,
  85,
  392,
  36,
  486,
  439,
  499,
  286,
  510,
  10,
  534,
  543,
  409,
  220,
  231,
  159,
  458,
  224,
  414,
  320,
  66,
  470,
  476,
  448,
  22,
  475,
  479,
  539,
  473,
  170,
  517,
  248,
  541,
  495,
  494,
  234,
  233],
 [236,
  122,
  136,
  432,
  178,
  312,
  150,
  467,
  179,
  371,
  118,
  78,
  398,
  47,
  435,
  29,
  53,
  30,
  223,
  347,
  402,
  8,
  188,
  502,
  24,
  210,
  68,
  449,
  21,
  84,
  509,
  485,
  537,
  481,
  229,
  472,
  459,
  388,
  446,
  415,
  542],
 [49,
  329,
  331,
  330,
  377,
  15,
  425,
  269,
  218,
  361,
  186,
  40,
  308,
  42,
  141,
  3,
  281,
  38,
  227,
  62,
  157,
  344,
  196,
  193,
  354,
  88,
  72,
  503,
  412,
  525,
  391,
  80,
  396,
  249,
  325,
  488,
  466,
  532,
  477,
  451,
  535,
  437,
  442,
  464],
 [71,
  332,
  73,
  296,
  434,
  124,
  153,
  430,
  337,
  345,
  426,
  27,
  184,
  16,
  90,
  370,
  212,
  226,
  323,
  282,
  326,
  17,
  530,
  200,
  408,
  251,
  506,
  266,
  393,
  474,
  515,
  487,
  395,
  444,
  490],
 [205,
  156,
  521,
  101,
  264,
  428,
  313,
  2,
  334,
  14,
  185,
  109,
  420,
  83,
  429,
  33,
  26,
  54,
  460,
  166,
  55,
  378,
  201,
  350,
  440,
  9,
  310,
  195,
  161,
  484,
  508,
  507,
  511,
  252],
 [237,
  50,
  376,
  100,
  92,
  365,
  386,
  452,
  216,
  383,
  284,
  316,
  182,
  6,
  454,
  48,
  194,
  143,
  513,
  211,
  403,
  176,
  433,
  247],
 [304,
  238,
  207,
  123,
  117,
  270,
  524,
  67,
  13,
  274,
  126,
  385,
  359,
  52,
  421,
  349,
  168,
  222,
  528,
  4,
  221,
  465,
  405,
  501,
  203],
 [297,
  133,
  368,
  423,
  268,
  167,
  283,
  58,
  333,
  131,
  240,
  121,
  399,
  522,
  367,
  372,
  197,
  482,
  183,
  531],
 [302,
  173,
  174,
  103,
  1,
  128,
  262,
  217,
  301,
  339,
  341,
  285,
  397,
  401,
  321,
  390,
  63,
  373,
  379],
 [299,
  456,
  119,
  259,
  104,
  500,
  146,
  273,
  364,
  18,
  343,
  5,
  51,
  400,
  191,
  213,
  406,
  180,
  129],
 [306, 164, 35, 242, 106, 271, 120, 39, 165, 19, 427, 172, 209, 498, 142],
 [11, 384, 230, 149, 86, 107, 319, 140, 151, 147, 351, 277, 455],
 [292, 340, 97, 419, 125, 96, 307, 192, 116, 295, 105, 112],
 [353, 422, 261, 102, 94, 293, 263, 369, 77, 346],
 [356, 45, 366, 241, 134, 298, 41, 311, 57, 43],
 [93, 358, 418, 110, 148, 265, 315, 56, 44],
 [98, 132, 160, 355, 267, 305, 272, 336, 155],
 [257, 108, 152, 338, 31, 520, 324, 318, 28],
 [95, 300, 239, 32],
 [380, 12],
 [46]]

In [15]:
slot_matrix=[]
for i in range(len(slot)):
    for j in range(len(slot[i])):
        temp=[slot[i][j],i+1]
        slot_matrix.append(temp)
slot_table = pd.DataFrame(slot_matrix).sort_values(0)
#BENAR

In [17]:
slot_matrix = pd.DataFrame(0,index=range(0,len(slot)), columns = range(0,len(crs)))
slot_matrix

,0,1,2,3,4,5,6,7,8,9,...,672,673,674,675,676,677,678,679,680,681
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
matrix

,1,2,3,4,5,6,7,8,9,10,...,534,535,536,537,538,539,540,541,542,543
1,0,1,1,1,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,1,1,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,1,0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
5,1,1,1,1,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,1,0
540,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,1,1,0
541,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
542,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,1,1,0,0
543,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
for i in range(len(slot)):
    for j in range(len(slot[i])):
        slot_matrix.iloc[i,j]=slot[i][j]

In [19]:
slot_matrix

,0,1,2,3,4,5,6,7,8,9,...,672,673,674,675,676,677,678,679,680,681
0,299,300,59,500,429,369,308,368,304,25,...,0,0,0,0,0,0,0,0,0,0
1,520,205,107,352,6,409,171,283,56,68,...,0,0,0,0,0,0,0,0,0,0
2,336,417,265,164,418,507,370,158,576,577,...,0,0,0,0,0,0,0,0,0,0
3,334,658,415,3,302,569,76,372,168,450,...,0,0,0,0,0,0,0,0,0,0
4,105,397,398,394,414,173,496,365,72,340,...,0,0,0,0,0,0,0,0,0,0
5,396,392,393,395,172,408,60,517,211,428,...,0,0,0,0,0,0,0,0,0,0
6,223,313,443,339,497,82,169,134,413,359,...,0,0,0,0,0,0,0,0,0,0
7,445,48,447,446,160,241,58,153,301,411,...,0,0,0,0,0,0,0,0,0,0
8,253,360,270,227,184,416,154,513,162,156,...,0,0,0,0,0,0,0,0,0,0
9,202,506,421,115,364,490,420,566,281,174,...,0,0,0,0,0,0,0,0,0,0
10,210,238,567,522,495,406,366,204,432,163,...,0,0,0,0,0,0,0,0,0,0
11,240,485,228,193,410,486,487,484,167,456,...,0,0,0,0,0,0,0,0,0,0
12,356,482,155,361,354,562,1,212,399,391,...,0,0,0,0,0,0,0,0,0,0
13,483,237,17,175,213,407,4,661,436,457,...,0,0,0,0,0,0,0,0,0,0
14,236,444,157,95,601,371,362,458,560,401,...,0,0,0,0,0,0,0,0,0,0
15,355,353,94,350,166,498,419,373,21,461,...,0,0,0,0,0,0,0,0,0,0
16,150,226,151,559,491,448,400,183,433,389,...,0,0,0,0,0,0,0,0,0,0
17,218,351,563,246,337,55,431,451,499,379,...,0,0,0,0,0,0,0,0,0,0
18,225,239,357,51,521,462,508,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,224,40,45,377,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,152,358,54,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,217,50,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,93,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
ts_tes=np.asmatrix(slot_matrix.iloc[1,])
ts_tes

matrix([[520, 205, 107, 352,   6, 409, 171, 283,  56,  68, 159, 367, 375,
         126, 571, 452, 306,  79,  28, 426, 251, 324, 503, 268, 463, 586,
          67, 110, 296,  63, 109, 423, 638, 117, 182, 264, 527, 626, 198,
         526, 549, 179, 346, 553, 603, 269, 147, 674, 108, 139, 618, 648,
         671, 481, 132, 262, 589,  15, 133, 631, 679, 145, 442, 593, 616,
         557, 613, 598, 140, 595, 333, 676,  37, 654, 655, 441,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
           0,   0,   0,   0,   0,   0]], dtype=int64)

In [23]:
hasil_ts_tes = pd.DataFrame(ts_tes)
for i in range(len(hasil_ts_tes.columns)):
    sum_kolom = sum(hasil_ts_tes[i])
    if sum_kolom==0:
        hasil_ts_tes = hasil_ts_tes.drop(columns=i)
# hasil_ts_tes.lt(0).sum(axis=0) < len(crs)
# hasi

In [24]:
hasil_ts_tes

,0,1,2,3,4,5,6,7,8,9,...,66,67,68,69,70,71,72,73,74,75
0,520,205,107,352,6,409,171,283,56,68,...,613,598,140,595,333,676,37,654,655,441

In [25]:
slot_table

       0   1
566    1  13
519    2  11
225    3   4
592    4  14
238    5   4
..   ...  ..
368  678   6
138  679   2
69   680   1
269  681   4
67   682   1

[682 rows x 2 columns]

In [26]:
pen2=0
row = len(crs)
for i in range(0,row-1):
    for j in range(i+1,row):
        if matrix2.iloc[i,j]>0:
            if abs(slot_table.iloc[j,1]-slot_table.iloc[i,1])>=1 and abs(slot_table.iloc[j,1]-slot_table.iloc[i,1]):
                pen2=pen2+(matrix2.iloc[i,j]*np.float_power(2,5-(abs(slot_table.iloc[j,1]-slot_table.iloc[i,1]))))
print(pen2/len(stu))

8.891833124044698

In [ ]:
slot_table2=slot_table
n_it=1000
row = len(crs)
pen2=0
hillclim_start = time.time()
for i in range(0,row-1):
    for j in range(i+1,row):
        if matrix2.iloc[i,j]>0:
            if abs(slot_table.iloc[j,1]-slot_table.iloc[i,1])>=1 and abs(slot_table.iloc[j,1]-slot_table.iloc[i,1]):
                pen2=pen2+(matrix2.iloc[i,j]*np.float_power(2,5-(abs(slot_table.iloc[j,1]-slot_table.iloc[i,1]))))/len(stu)
first_pen=pen2
penalty1=pen2
print('first pen:',first_pen)
for k in range(n_it):
    ran_crs = random.randint(0,len(crs)-1)
    ran_slot = random.randint(0,len(slot)-1)
    slot_matrix = pd.DataFrame(0, index=range(0,len(slot)), columns = range(1,len(crs)+1), dtype=int)
    for l in range(len(slot)):
        for m in range(len(slot[l])):
            slot_matrix.iloc[l,m]=slot[l][m]
    ts_tes=np.asmatrix(slot_matrix.iloc[ran_slot,])
    hasil_ts_tes = pd.DataFrame(ts_tes)
    for n in range(len(hasil_ts_tes.columns)):
        sum_kolom = sum(hasil_ts_tes[n])
        if sum_kolom==0:
            hasil_ts_tes = hasil_ts_tes.drop(columns=n)
    ts=hasil_ts_tes.transpose()
    cek_ran_degree=None
    for o in range(len(ts)-1):
        if matrix.iloc[ran_crs,ts.iloc[o,0]-1]>0:
            cek_ran_degree=False
    cek_ran_degree=True
    if cek_ran_degree:
        slot_table2.iloc[ran_crs,1]=ran_slot
        pen3=0
        for p in range(0,row-1):
            for q in range(p+1,row):
                if matrix2.iloc[p,q]>0:
                    if abs(slot_table2.iloc[q,1]-slot_table2.iloc[p,1])>=1 and abs(slot_table2.iloc[q,1]-slot_table2.iloc[p,1]):
                        pen3=pen3+(matrix2.iloc[p,q]*np.float_power(2,5-(abs(slot_table2.iloc[q,1]-slot_table2.iloc[p,1]))))/len(stu)
                        penalty2=pen3
        if penalty2<penalty1:
            pen2=0
            for r in range(0,row-1):
                for s in range(r+1,row):
                    if matrix2.iloc[r,s]>0:
                        if abs(slot_table2.iloc[s,1]-slot_table2.iloc[r,1])>=1 and abs(slot_table2.iloc[s,1]-slot_table2.iloc[r,1]):
                            pen2=pen2+(matrix2.iloc[r,s]*np.float_power(2,5-(abs(slot_table2.iloc[s,1]-slot_table2.iloc[r,1]))))/len(stu)
                            penalty1=pen2
            slot_table.iloc[ran_crs,1]=slot_table2.iloc[ran_crs,1]
        else:
            slot_table2.iloc[ran_crs,1]=slot_table.iloc[ran_crs,1]
    print('iterasi', k+1, ' pen',penalty1)
print("--- %s seconds ---" % (time.time() - hillclim_startclim_start))
print('first pen', first_pen)
print('best solution', pen3)

first pen: 8.891833124044668
iterasi 1  pen 8.879701068746973
iterasi 2  pen 8.87718373456066
iterasi 3  pen 8.874704191254501
iterasi 4  pen 8.874704191254501
iterasi 5  pen 8.869505702301211
iterasi 6  pen 8.859917478077938
iterasi 7  pen 8.859917478077938
iterasi 8  pen 8.81016573567315
iterasi 9  pen 8.807437369350975
iterasi 10  pen 8.807437369350975
iterasi 11  pen 8.799480167782384
iterasi 12  pen 8.799480167782384
iterasi 13  pen 8.799480167782384
iterasi 14  pen 8.799480167782384
iterasi 15  pen 8.786884207794794
iterasi 16  pen 8.78049899144864
iterasi 17  pen 8.76572081006811
iterasi 18  pen 8.76572081006811
iterasi 19  pen 8.76572081006811
iterasi 20  pen 8.763956985644885
iterasi 21  pen 8.763956985644885
iterasi 22  pen 8.755395411261821
iterasi 23  pen 8.752909276187633
iterasi 24  pen 8.74519292657203
iterasi 25  pen 8.74519292657203
iterasi 26  pen 8.74519292657203
iterasi 27  pen 8.74519292657203
iterasi 28  pen 8.723235102701587
iterasi 29  pen 8.723235102701587
iterasi 30  pen 8.691957639405478
iterasi 31  pen 8.68676005916419